<h1>{{title}}</h1>
<h2>Search</h2>
<div id = "search">
  <form class="navbar-form" role="search">
    <div class="input-group add-on">
      <input class="form-control" placeholder="Search" name="srch-term" #searchTerm type="text">
      <div class="input-group-btn">
        <button class="btn btn-default" (click)="getProductsQuery(searchTerm);"><i class="glyphicon glyphicon-search"></i></button>
      </div>
    </div>
  </form>
  <h3>Search Products:</h3>
  <ul>
    <li *ngFor="let product of searchProducts">{{product.name}}</li>
  </ul>
  <p class="error" *ngIf="searchErrorMessage">{{errorMessage}}</p>

</div>
<div>
  <h3>Products:</h3>
  <ul>
    <li *ngFor="let product of products">{{product.name}}</li>
  </ul>
  <p class="error" *ngIf="errorMessage">{{errorMessage}}</p>
  <button class="btn btn-primary" (click)="getProducts();">Get Products</button>
</div>

