<div id = "searchSection" class="container container-table">
  <div class="row">
    <form class="form-group" role="search">
      <label for="search-form" class="col-2 col-form-label">Search Products</label>
      <div class="input-group add-on">
        <input class="form-control" type="search" id="search-form" placeholder="Search" name="search-term" #searchTerm>
        <span class="input-group-btn">
          <button class="btn btn-default" (click)="getProductsQuery(searchTerm);"><i class="glyphicon glyphicon-search"></i></button>
        </span>
      </div>
    </form>
    <div class="dropdown pull-right" dropdown [dropdownToggle]="false">
      <label for="search-location" class="col-2 col-form-label">Location: </label>
      <button id="search-location" class="btn btn-default" dropdown-open> {{getSelectedLocation().name}} <i class="caret"></i></button>
      <ul class="dropdown-menu">
        <li class="locationOptions" (click)="resetLocation();">None</li>
        <li class="locationOptions" *ngFor="let location of locations" (click)="setSelectedLocation(location);">{{location.displayName}}</li>
      </ul>
    </div>
  </div>
  <h3>Histories</h3>
  <div id="historyResultsTable">
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Date</th>
        <th>Product Reference</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let hist of histories">
        <td>{{hist.name}}</td>
        <td>€{{hist.price}}</td>
        <td>{{convertToDisplayedTime(hist.date.millis)}}</td>
        <td>{{hist.productId}}</td>
      </tr>
      </tbody>
    </table>
    <p class="error" *ngIf="histoyErrorMessage">{{histoyErrorMessage}}</p>
  </div>
  <h3>Product</h3>
  <div id="productsResultsTable">
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Smyths link</th>
      <th>In Stock</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of searchProducts">
      <td>{{product.name}}</td>
      <td>€{{product.price}}</td>
      <td><a target="_blank" href="{{product.url}}">Smyths Website</a></td>
      <td>{{product.status || ""}}</td>
    </tr>
    </tbody>
  </table>
  <p class="error" *ngIf="searchErrorMessage">{{searchErrorMessage}}</p>
</div>
</div>
<!--<div>-->
  <!--<h3>Products:</h3>-->
  <!--<ul>-->
    <!--<li *ngFor="let product of products">{{product.name}}</li>-->
  <!--</ul>-->
  <!--<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>-->
  <!--<button class="btn btn-primary" (click)="getProducts();">Get Products</button>-->
<!--</div>-->

